/*Постоянные клиенты*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: space-around;
}
.clients .section-title {
  margin-bottom: 50px;
}
.client-logo-svg {
  fill: #AFB1B8;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo-link {
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo-link:hover,
.client-logo-link:focus {
  border-color: $accent-color;
}
.client-logo-link:hover .client-logo-svg,
.client-logo-link:focus .client-logo-svg{
  fill: $accent-color;
}